<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Celery Task</title>
    </head>
    <body>
        <h1>My Celery Tasks</h1>
        <a href="/task1/" target="_blank" rel="noopener noreferrer">Run Status Updater Task</a><span style="margin-left: 50px;"></span>
        <a href="/task2/" target="_blank" rel="noopener noreferrer">Run Status & Progress Updater Task</a>
    </body>
</html>